.Phonetic {
    margin: 20px 0;
}

.Phonetic a {
    border: 1px solid #ddd;
    text-decoration: none;
    font-size: 15px;
    margin-right: 12px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 50px;
    transition: all 150ms ease-in-out;
    background-color: #c1d4c1;
}

.Phonetic .text {
    opacity: 0.6;
    font-weight: bold;
}

